@import '~bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";
@import '/resources/scss/partials/welcome';
@import '/resources/scss/partials/sidebar';
@import '/resources/scss/partials/variables';
@import '/resources/scss/partials/login';

// font
body {
    font-family: 'Urbanist', sans-serif;
}

// header bg-colour
header {
    nav {
        // background-color: rgb(0, 79, 121);
        // background-color: #FF5A60;
        background-color: white;
    }
}


// buttons style
.my-btn {
    background-color: $main-color;
    color: white;
    font-weight: bold;

    &:hover {
        background-color: white;
        color: $main-color;
        border: 1px solid $secondary-color;
        ;
    }
}

.card_btn {
    margin-right: .25rem;
    background-color: white;

    &:hover {
        background-color: $main-color;
        color: white;
    }
}

//? button style into dashboard
a.dash_btn {
    border: 1px solid $secondary-color;

    &:hover {
        background-color: $main-color;
        color: white;
    }
}


// dropdown-menu style
.my_dropdown-menu {
    top: 100%;
    left: -100px !important;
    margin-top: var(--bs-dropdown-spacer);
}

.my-fa-solid {
    color: white;
}

// .dropdown-index {
//     background-color: white;
//     top: 40px;
//     right: 40px;
//     z-index: 1;

//     .btn-custom-index {
//         width: 100%;
//     }
// }


// index apartment style
.index-img {
    width: 100%;
    height: 280px;
    overflow: hidden;

    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}


// show apartment style
.show-cards {
    ul li {
        list-style-type: none;
    }
}


// edit create form style
form .card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 30px 30px;
    border: none;

    a,
    button {
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
}

//? address style
div.tt-search-box {
    margin-top: 0;
}

div.tt-search-box-input-container {
    border-radius: 0.375rem;
    padding: 0 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
        position: relative;
        z-index: 3;
        border-color: $main-color;
        box-shadow: 0 0 0 0.25rem #fe847654;
    }

    div svg {
        margin: 0.375rem 0;
    }

    input#address {
        border: none;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
    }
}

//? alert messages style
.my-alert {
    padding: 7px 10px;
    font-weight: 500;
}

//? form error style
.text-danger {
    padding: 0 0.5rem;
    font-size: 0.875em;
    margin-top: 0.25rem;

    i {
        padding-right: 0.25rem;
        font-weight: 900;
    }
}

//? form input border style at focus
.form-control:focus {
    position: relative;
    z-index: 3;
    border-color: $main-color;
    box-shadow: 0 0 0 0.25rem #fe847654;
}

// animation classes style 
.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

// .card_btn{
//     margin-right: .25rem;
//     background-color: white;

//     &:hover{
//         background-color: $main-color;
//         color: white;
//     }
// }

// autocomplete address list
// .auto-list {
//     position: relative;
//     z-index: 2;
// }

// #autocomplete-list {
//     background-color: white;
//     position: absolute;
//     z-index: 1;
//     width: 100%;
//     top: -3px;
//     border-color: $main-color;
// }

// #image-upload {
//     position: relative;
// }



// .list-group-item-action:hover,
// .list-group-item-action:focus {
//     background-color: #fe84767d;
// }

// .clear-input {
//     position: absolute;
//     right: 20px;
//     top: 50%;
//     transform: translateY(-50%);
//     cursor: pointer;
//     z-index: 4;
// }

.form-control:focus-visible {
    outline: #fe8376;
    border-color: #fe8376;
}

.form-control.focus-visible {
    border-color: #fe8376;
}

.tt-search-box-input-container.-focused {
    outline: #fe8376;
    border-color: #fe8376;
    box-shadow: 0 0 0 0.25rem rgba(254, 132, 118, 0.33);
}

.tt-search-box-result-list-container {
    box-shadow: 0 0 0 0.25rem rgba(254, 132, 118, 0.33);
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.tt-search-box-result-list:hover {
    background-color: $main-color;
}

.tt-search-box-result-list-container {
    border-top: 0;
    overflow-y: scroll;
    /* Add the ability to scroll */
}

// hide scrollbar
.tt-search-box-result-list-container::-webkit-scrollbar {
    display: none;
}

.tt-search-box-result-list-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.form-check-input:focus {
    border-color: $main-color;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(254, 132, 118, 0.33);
}

.tt-search-box-input-container {
    height: 38px;
    padding-top: 3px !important;

    div:first-child {
        display: none;
    }
}

#address {
    font-size: .9rem !important;
}


// login register style
.my-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.form-check-input:checked {
    background-color: $main-color;
    border-color: $secondary-color;
}

.register {
    font-size: 1.1rem;
}

.bg-main-color {
    background-color: $main-color;
}

.main-color {
    color: $main-color;
}

.b-radius-left-1 {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.b-radius-right-1 {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.b-radius-1 {
    border-radius: 1rem;
}

@media only screen and (max-width: 767px) {
    .b-radius-m {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.page-100 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

//table colors

.table {
    border-bottom: 1px solid $main-color;
    border-radius: 20px 20px!important;
    font-size: 1.1rem;
}

thead {
    background-color: $main-color;
}

.fa-toggle-on,
.fa-toggle-off
{
    color: $main-color;
}

.braintree-card {
    border: 1px solid $main-color;
}

.braintree-sheet__header {
    border-bottom: 1px solid $main-color;
}


.nav-link:hover {
    color: $main-color;
}

table td,
table th {
  padding: 0.75rem 2rem;
  vertical-align: middle;
}

