@import '~bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";
@import '/resources/scss/partials/welcome';
@import '/resources/scss/partials/sidebar';

//index apartment style
.index-img {
    width: 100%;
    height: 280px;
    overflow: hidden;

    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}

.show-cards {
    ul li {
        list-style-type: none;
    }
}

.dropdown-index {
    background-color: white;
    top: 40px;
    right: 40px;
    z-index: 1;

    .btn-custom-index {
        width: 100%;
    }
}

//! header bg-colour
header {
    nav {
        // background-color: rgb(0, 79, 121);
        // background-color: #FF5A60;
        background-color: #212529;
    }
}

@import '/resources/scss/partials/login';

.my_dropdown-menu {
    top: 100%;
    left: -100px !important;
    margin-top: var(--bs-dropdown-spacer);
}

.my-fa-solid {
    color: white;
}


// EDIT CREATE FORM STYLE
form .card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 30px 30px;
    border: none;

    a,
    button {
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
}


// ANIMATION CLASSES
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  


// alert messages
.my-alert {
    padding: 7px 10px;
    font-weight: 500;
}

//form error style
.text-danger {
    padding: 0 0.5rem;
    font-size: 0.875em;
    margin-top: 0.25rem;

    i {
        padding-right: 0.25rem;
        font-weight: 900;
    }
}

// log in page
.my-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.form-check-input:checked {
    background-color: #fe8376;
    border-color: #fd3a0d;
}

.register {
    font-size: 1.1rem;
}

//! button style into dashboard

a.dash_btn{
    background-color: #fe595f;
    color: white;

    &:hover{
        background-color: #fe8376;
    }
}